html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}

body {
  background-color: #1e1e1e;
  color: #ffff;
  height: 100svh;
  font-family: "Press Start 2P", system-ui;
  line-height: 1.5;
}

button {
  font-family: "Press Start 2P", system-ui;
  line-height: 1.8;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100svh;
  justify-content: space-between;
}

.gyn-container {
  /* max-width: 1200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100svh - 68px);
}

/* header */

.gyn-header {
  background-color: #bd6d6d;
  color: #fff4f0;
  padding: 16px 24px;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 12px;
}

.gyn-footer {
  background-color: #bd6d6d;
  color: #fff4f0;
  padding: 12px 24px;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.gyn-wrapper {
  padding: 10px;
  max-width: calc(700px - 115px);
}

.gym-box-wrapper {
  position: relative;
}

.gyn-dialog {
  border-radius: 4px;
  padding: 30px;
}

/* Dialog animation */
/* Open state */
dialog {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: scale(0.8);
}

/* Open animation */
dialog[open] {
  animation: popIn 0.3s forwards;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4); /* dim background */
}

/* Keyframes for opening */
@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.gyn-winner,
.gyn-loser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap: 20px;
  h1 {
    font-size: 20px;
  }
}

.gyn-winner {
  h1 {
    color: #5cb85c;
  }
  span {
    font-size: 16px;
  }
}
/* 
.gyn-loser {
  font-family: "Press Start 2P", system-ui;
  font-size: 20px;
} */

.gyn-lock-your-number {
  position: absolute;
  top: 0;
  background-color: #333;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.hidden {
    display: none;
  }
}

.gyn-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.gyn-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.gyn-box {
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 150px;
  color: #333;
  font-size: 60px;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
  font-weight: bold;
  cursor: pointer;
  transform-style: preserve-3d;

  span {
    visibility: hidden;
  }
}

.gyn-box.flip {
  animation: flip 0.6s forwards;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.gyn-results {
  font-size: 32px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}

.gyn-try-again {
  font-size: 16px;
}

.gyn-highest-streak {
  span {
    font-weight: bold;
    color: #5cb85c;
  }
}

.gyn-highest-streak,
.gyn-attempts-score {
  font-size: 20px;
}

.gyn-lock-wrapper {
  display: flex;
  gap: 12px;
}

.gyn-input {
  background: #ffffff;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 20px;
  span {
    text-align: center;
    font-size: 18px;
  }
  input {
    height: 32px;
    color: #5cb85c;
    font-size: 24px;
    padding: 12px;
    font-family: "Press Start 2P", system-ui;
  }
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  position: relative;
  z-index: 9999;
  background-color: black;
  color: #fff4f0;
  cursor: pointer;
}

.gyn-lock-btn {
  /* font-family: "Press Start 2P", system-ui; */
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
}

/* Mobile Design */
@media screen and (max-width: 767px) {
  .gyn-wrapper {
    padding: 32px;
    max-width: calc(700px - 150px);
  }

  .gyn-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
  }

  .gyn-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 25px;
    flex-wrap: wrap;
  }
  .gyn-box {
    width: 100px;
    height: 100px;
    font-size: 32px;
  }

  .gyn-input {
    span {
      font-size: 14px;
    }
  }

  .gyn-results {
    flex-direction: column;
    font-size: 28px;
    gap: 24px;
  }

  .gyn-attempts-score,
  .gyn-highest-streak {
    text-align: center;
    padding: 14px;
    font-size: 16px;
    border-radius: 4px;
  }

  .gyn-highest-streak {
    background-color: #ffffff;
    text-align: center;
    color: #333;
  }
  .gyn-attempts-score {
    background-color: #e34c4c;
  }
  .gyn-try-again {
    font-size: 14px;
  }

  .gyn-lock-wrapper {
    display: flex;
    gap: 24px;
  }

  .gyn-number {
    width: 50%;
    flex: 1;
  }

  dialog {
    max-width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .gyn-box {
    width: 85px;
    height: 70px;
  }

  .gyn-boxes {
    gap: 16px;
  }
}
